<%= stylesheet_link_tag "application.css" %>

<div class="Homepage">
    <div class="Featured">
        <div class="Featured__banner">
            <%=image_tag("featured.jpg", alt: "Featured Image")%>
        </div>
        <div class="Featured__information">
            <div class="Featured__information--header">
                <h3>Find your favorite beans</h3>
            </div>
            <div class="Featured__information--description">
                <p>Light roast, medium roast, or dark roast? Lorem ipsum soda carbonate.</p>
            </div>
            <div class="Featured__information--button">
                <button>Discover Beans</button>
            </div>
        </div>
    </div>
</div>