<div class="Homepage">
    <div class="Featured">
        <div class="Featured__banner">
            <img src="" alt=""/>
        </div>
        <div class="Featured__header">
            <h3>Find your favorite beans</h3>
        </div>
        <div class="Featured__description">
            <p>Light roast, medium roast, or dark roast? Lorem ipsum soda carbonate.</p>
        </div>
        <div class="Featured__button">
            <button>Discover Beans</button>
        </div>
    </div>
</div>