<%= stylesheet_link_tag "application.css" %>

<div class="Section">
  <div class="Section__header">
    <p>Top Trending</p>
    <h3>Articles</h3>
  </div>

  <% @articles.each do |article| %>
    <%= react_component("Article",
      { username: article.username ,
        img: "an image",
        title: article.title,
        post: article.post,
        numLikes: article.numLikes,
        numComments: article.numComments,
        datePosted: article.created_at })
    %>
  <% end %>
  
  <button>New</button>
  <div class="recommended-section">
    <p>Recommended</p>
    <p>Just For You</p>
    <p>No recommendations for now. Add some brews to start receiving recommendations!</p>
  </div>
</div>