<div>
<%= button_tag "Back" %>
</div>

<div>
    <h3>BLUE BOTTLE COFFEE</h3>
    <h2>Classic Blend</h2>
</div>

<div>
    <h2> NOTES </h2>
    <h3> <%= @brew.extra_details %> </h3>
</div>

<div class="Rating">
  <% 10.times do %>
    <p>☕️</p>
  <% end %>
</div>