@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* line 12, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
body {
  font-family: "Roboto", sans-serif;
  background-color: #F9F9F9;
  margin: 0;
}

/* line 18, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
p {
  margin: 0;
}

/* line 22, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
#text-highlight {
  color: #D9594C;
}

/* line 26, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Banner {
  font-size: 40px;
  color: #808080;
  align-content: center;
  text-align: center;
}

/* line 33, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Navigation {
  display: flex;
  justify-content: space-between;
}
/* line 37, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Navigation__left {
  background-color: #363636;
  color: #FFFFFF;
  font-family: 'Times New Roman', Times, serif;
  font-weight: regular;
  font-size: 23px;
  padding: 20px 80px 20px 7vw;
  border-radius: 0 0 30px 0;
}
/* line 47, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Navigation__right {
  padding-right: 7vw;
}
/* line 49, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Navigation__right ul {
  margin: 0;
}
/* line 51, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Navigation__right ul li {
  display: inline-block;
  padding: 25px 10px 0;
}
/* line 55, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Navigation__right ul li a {
  text-decoration: none;
  color: #4E4E4E;
}
/* line 60, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Navigation__right ul li:not(:last-child) {
  margin-right: 20px;
}
/* line 64, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Navigation__right ul li input {
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #4E4E4E;
  cursor: pointer;
}
/* line 74, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Navigation__right ul .current {
  border-top: 3px solid #D9594C;
}

/* line 81, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Featured {
  padding: 0 7vw;
  min-width: 1100px;
  margin-top: 40px;
}
/* line 87, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Featured__banner img {
  position: relative;
  width: 100%;
  border-radius: 20px;
}
/* line 94, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Featured__information {
  position: absolute;
  top: 0px;
  margin-top: 50px;
  margin-left: 60px;
  color: #4E4E4E;
}
/* line 101, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Featured__information--header {
  font-size: 32px;
  font-weight: bold;
  width: 300px;
}
/* line 106, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Featured__information--header h3 {
  margin: 30px 0;
}
/* line 111, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Featured__information--description {
  width: 300px;
}
/* line 115, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Featured__information--button {
  margin-top: 25px;
}
/* line 117, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Featured__information--button button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: #D9594C;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
}

/* line 130, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Homepage {
  position: relative;
  min-height: 100%;
}

/* line 135, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Points {
  display: inline-block;
  float: right;
  vertical-align: bottom;
  color: #D9594C;
  font-size: 17px;
  max-height: 20px;
}
/* line 143, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Points p {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
/* line 149, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Points img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

/* line 157, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Section {
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 0 7vw;
}
/* line 162, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Section__header {
  display: inline-block;
}
/* line 164, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Section__header h3, .Section__header p {
  margin: 0px;
}
/* line 168, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Section__header p {
  color: #D9594C;
  font-size: 17px;
}
/* line 173, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Section__header h3 {
  color: #4E4E4E;
  font-size: 25px;
}
/* line 179, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* line 185, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Section__right {
  text-align: right;
}
/* line 189, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Section__welcome {
  color: #4E4E4E;
  font-size: 18px;
  display: flex;
  align-items: center;
}
/* line 195, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Section__welcome > a {
  margin-right: 10px;
  padding: 4px 9px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  background-color: #46bd42;
  border-radius: 100%;
}

/* line 210, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Brewentry {
  display: block;
  padding: 0 7vw;
  height: 100vh;
  color: #4E4E4E;
}
/* line 216, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Brewentry__header {
  font-size: 1.2em;
}
/* line 220, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Brewentry__wrapper {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 25px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* line 234, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Brewentry .actions {
  margin-top: 20px;
}
/* line 236, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Brewentry .actions input {
  background-color: #D9594C;
  color: #FFFFFF;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
}

/* line 250, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__field--label {
  margin-top: 35px;
}
/* line 254, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__field--input {
  width: 100%;
}
/* line 257, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__field--input input {
  width: 100%;
  padding: 10px 0;
  border: none;
  color: #FFFFFF;
  background-color: #363636;
  border-bottom: 1px solid #808080;
}
/* line 265, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__field--input input:focus {
  border-bottom: 1px solid #D9594C;
}
/* line 269, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__field--input input:outline {
  border-bottom: 1px solid #D9594C;
}
/* line 275, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__field--remember {
  margin: 15px 0 0;
  display: flex;
  align-items: center;
}
/* line 281, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__field--checkbox {
  margin-right: 5px;
}
/* line 285, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__field--wrapper {
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
}
/* line 291, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__field-wrap {
  width: 40%;
}
/* line 296, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__button {
  margin-top: 15px;
}
/* line 299, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__button input {
  background-color: #D9594C;
  color: #FFFFFF;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
}
/* line 310, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__signupHeader {
  margin-top: 5px;
  margin-left: 30px;
}
/* line 315, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__forgot {
  margin-left: 30px;
  display: flex;
}
/* line 319, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Form__forgot a {
  text-decoration: none;
  color: #D9594C;
  margin-right: 10px;
}

/* line 327, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.SectionTable {
  min-height: 100vh;
}

/* line 331, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Table {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
  text-align: left;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* line 342, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Table th, .Table td {
  padding: 20px 25px;
}
/* line 346, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Table th {
  border-bottom: 1px solid #DDD;
}
/* line 351, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Table__header {
  color: #808080;
  text-align: left;
  font-size: 0.8em;
}
/* line 357, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Table__data {
  color: #4E4E4E;
}
/* line 361, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Table__border {
  border-bottom: 1px solid #808080;
}
/* line 365, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Table__description {
  min-width: 250px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 375, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Favorite__list {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* line 383, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Coffee__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 389, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Coffee__item {
  margin-top: 30px;
  background-color: #FFFFFF;
  width: 30%;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* line 397, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Coffee__item--image {
  border-radius: 10px 10px 0 0;
}
/* line 400, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Coffee__item--image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px 10px 0 0;
}
/* line 407, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Coffee__item--info {
  display: flex;
  justify-content: space-between;
}
/* line 412, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Coffee__item--title {
  color: #4E4E4E;
}
/* line 416, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Coffee__item--brand {
  color: #808080;
  font-size: 10px;
  margin-top: 5px;
  display: inline-block;
}
/* line 423, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Coffee__item > div:nth-child(2) {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
}

/* line 431, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Price {
  float: right;
  margin-right: 25px;
  vertical-align: top;
  display: inline-block;
  color: #4E4E4E;
}
/* line 438, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Price p {
  display: inline-block;
  font-size: 18px;
}
/* line 443, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Price > img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

/* line 452, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 90vh;
  margin: auto 0;
  padding: 0px 7vw;
}
/* line 461, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__image {
  display: inline-block;
  border-radius: 20px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 7px 7px 15px;
  width: 50%;
  min-height: 100%;
  position: relative;
  overflow: visible;
}
/* line 470, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__image img {
  border-radius: 20px 0px 20px 0px;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}
/* line 479, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__wrapper {
  display: flex;
  width: 100%;
}
/* line 484, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__information {
  max-width: 695px;
  min-width: 695px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  overflow: visible;
  padding-left: 30px;
}
/* line 494, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__title {
  vertical-align: top;
  font-size: 20px;
  color: #D9594C;
}
/* line 501, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__header--brand {
  color: #D9594C;
  font-size: 1.3em;
}
/* line 506, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__header--title {
  color: #4E4E4E;
  font-size: 2.3em;
}
/* line 512, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__infoFlex {
  display: flex;
}
/* line 516, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__infoItem {
  margin-top: 35px;
  width: 50%;
}
/* line 520, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__infoItem--title {
  color: #4E4E4E;
  font-size: 25px;
}
/* line 525, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__infoItem--desc {
  color: #808080;
  font-size: 20px;
  margin-top: 7px;
}
/* line 531, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__infoItem--row {
  margin-top: 35px;
  width: 100%;
}
/* line 540, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__notes {
  font-size: 25px;
  margin: auto;
  padding-bottom: 15px;
}
/* line 547, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__notes-detail {
  word-wrap: break-word;
  font-size: 20px;
  padding-bottom: 50px;
}
/* line 553, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__sub {
  font-size: 25px;
}
/* line 557, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__sub-first {
  display: flex;
  justify-content: flex-start;
}
/* line 561, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Specific__sub-first > div {
  width: 1000%;
}

/* line 567, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Quiz {
  position: relative;
  top: 40px;
  margin-top: 30px;
  padding: 45px 0;
  background-color: #D9594C;
  color: #FFFFFF;
  overflow-x: hidden;
}
/* line 576, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Quiz > div:not(:last-child) {
  margin: 0 7vw;
}
/* line 580, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Quiz__title {
  font-size: 30px;
}
/* line 585, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Quiz__button button {
  position: relative;
  z-index: 2;
  background-color: #D9594C;
  border: 1px solid #FFFFFF;
  margin-top: 10px;
  padding: 7px 25px;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}
/* line 598, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Quiz__backgroundText {
  position: relative;
  top: -50px;
  right: -10px;
  color: #E88080;
  font-family: 'Times New Roman';
  font-size: 30px;
  text-align: right;
}
/* line 607, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Quiz__backgroundText p:nth-child(1) {
  font-size: 80px;
  overflow: hidden;
}

/* line 614, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login {
  color: #4E4E4E;
  display: block;
  height: 70vh;
  width: calc(100% - 30vw);
  margin: 100px auto 0;
  min-height: 80vh;
}
/* line 622, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__wrapper {
  display: flex;
  height: 320px;
}
/* line 627, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__wrapper--signup, .Login__wrapper--brew {
  display: flex;
  height: 420px;
}
/* line 632, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__wrapper--forgot {
  display: flex;
  height: 220px;
}
/* line 638, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__left {
  background: #FFFFFF;
  height: calc(100% - 100px);
  top: 20px;
  position: relative;
  width: 50%;
  padding: 30px;
  border-radius: 10px 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* line 651, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__header {
  margin-top: 40px;
}
/* line 654, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__header p {
  font-size: 40px;
  font-weight: 800;
}
/* line 660, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__header--forgot p {
  font-size: 35px;
  font-weight: 800;
}
/* line 666, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__header--brew {
  margin-top: 50px;
}
/* line 668, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__header--brew p {
  font-size: 30px;
  font-weight: 800;
}
/* line 675, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__desc {
  margin-top: 30px;
}
/* line 678, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__desc p {
  font-size: 20px;
}
/* line 683, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login__right {
  background: #363636;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #FFFFFF;
  position: relative;
  width: 50%;
  border-radius: 10px;
}
/* line 692, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login > p {
  margin-left: 30px;
  display: flex;
}
/* line 696, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login > p > a {
  display: inline-block;
  text-decoration: none;
  color: #D9594C;
  font-size: 0.9em;
  cursor: pointer;
}
/* line 704, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login > p a:first-child {
  margin-right: 20px;
}
/* line 709, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.Login > a {
  margin-left: 30px;
  text-decoration: none;
  color: #D9594C;
  font-size: 0.9em;
  cursor: pointer;
}

/* line 719, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
form {
  width: 80%;
  margin: 30px auto;
}

/* line 724, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
.button_to {
  margin: 0;
}

/* line 728, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #363636;
  color: #FFFFFF;
  border-radius: 20px 20px 0 0;
}
/* line 738, /Users/sksam/Desktop/Personal Projects/coffeephile/app/assets/stylesheets/styles.scss */
footer div {
  position: absolute;
  bottom: 10px;
  padding: 0px 7vw;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

