@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$background-color: #F9F9F9;
$navigation-color: #363636;
$primary-font: 'Roboto', sans-serif;
$secondary-font: Sitka Text;
$primary-font-color: #4E4E4E;
$secondary-font-color: #808080;
$tertiary-font-color: #FFFFFF;
$primary-color: #D9594C;

body {
    font-family: $primary-font;
    background-color: $background-color;
    margin: 0;
}

p {
    margin: 0;
}

#text-highlight {
    color: $primary-color;
}

.Navigation {
    display: flex;
    justify-content: space-between;

    &__left {
        background-color: $navigation-color;
        color: $tertiary-font-color;
        font-family: 'Times New Roman', Times, serif;
        font-weight: regular;
        font-size: 23px;
        padding: 20px 80px 20px 7vw;
        border-radius: 0 0 30px 0;
    }

    &__right {
        padding-right: 7vw;
        ul {
            margin: 0;
            li {
                display: inline-block;
                padding: 25px 10px 0;

                a {
                    text-decoration: none;
                    color: $primary-font-color;
                }

                &:not(:last-child) {
                    margin-right: 20px;
                }
            }

            .current {
                border-top: 3px solid $primary-color;
            }
        }
    }
}

.Featured {
    padding: 0 7vw;
    min-width: 1100px;
    margin-top: 40px;

    &__banner {
        & img {
            position: relative;
            width: 100%;
            border-radius: 20px;
        }
    }

    &__information {
        position: absolute;
        top: 0px;
        margin-top: 50px;
        margin-left: 60px;
        color: $primary-font-color;

        &--header {
            font-size: 32px;
            font-weight: bold;
            width: 300px;

            & h3 {
                margin: 30px 0;
            }
        }

        &--description {
            width: 300px;
        }
        
        &--button {
            margin-top: 25px;
            button {
                cursor: pointer;
                border: none;
                padding: 10px 20px;
                background-color: $primary-color;
                border-radius: 5px;
                color: $tertiary-font-color;
                font-weight: bold;
            }
        }
    }   
}

.Homepage {
    position: relative;
    min-height: 100%;
}

.Section {
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 0 7vw;

    &__header {
        h3, p {
            margin: 0px;
        }

        p {
            color: $primary-color;
            font-size: 17px;
        }

        h3 {
            color: $primary-font-color;
            font-size: 25px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__right {
        text-align: right;
    }

    &__welcome {
        color: $primary-font-color;
        font-size: 18px;
    }
}

.SectionTable {
    min-height: 100vh;
}


.Table {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    text-align: left;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    th, td {
        padding: 20px 25px;
    }

    th {
        border-bottom: 1px solid #DDD;
    }


    &__header {
        color: $secondary-font-color;
        text-align: left;
        font-size: 0.8em;
    }

    &__data {
        color: $primary-font-color;
    }

    &__border {
        border-bottom: 1px solid $secondary-font-color;
    }

    &__description {
        min-width: 250px;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.Favorite {
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
}

.Coffee {
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-top: 20px;
        background-color: #FFFFFF;
        width: 30%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        &--image {
            border-radius: 10px 10px 0 0;

            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 10px 10px 0 0;
            }
        }

        &--title {
            color: $primary-font-color;
        }

        &--brand {
            color: $secondary-font-color;
            font-size: 10px;
            margin-top: 5px;
        }

        > div:nth-child(2) {
            margin-top: 20px;
            margin-left: 25px;
            margin-bottom: 20px;
        }
    }
}


.Specific {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 90vh;
    margin: auto 0;
    padding: 0px 7vw;


    &__image {
        display: inline-block;
        border-radius: 10px 0px 10px 0px;
        box-shadow: rgba(0, 0, 0, 0.1) 7px 7px 15px;
        width: 40%;
        height: 450px;
        max-height: 450px;
        position: relative;
        overflow: visible;

        img {
            border-radius: 10px 0px 10px 0px;
            width: 100%;
            height: auto;
            max-height: 450px;
            object-fit: cover;
        }
    }

    &__wrapper {
        display: flex;
        width: 100%;
    }

    &__information {
        max-width: 695px;
        min-width: 695px;
        vertical-align: top;
        display: inline-block;
        position: relative;
        overflow: visible;
        padding-left: 30px;
    }

    &__title {
        vertical-align: top;
        font-size: 20px;
        color: $primary-color;
    }

    &__header {
        &--brand {
            color: $primary-color;
            font-size: 1.3em;
        }

        &--title {
            color: $primary-font-color;
            font-size: 2.3em;
        }
    }

    &__infoFlex {
        display: flex;
    }

    &__infoItem {
        margin-top: 35px;
        width: 50%;

        &--title {
            color: $primary-font-color;
            font-size: 25px;
        }

        &--desc {
            color: $secondary-font-color;
            font-size: 20px;
            margin-top: 7px;
        }

        &--row {
            margin-top: 35px;
            width: 100%;
        }
    }




    &__notes {
        font-size: 25px;
        margin: auto;
        padding-bottom: 15px;
       
    }

    &__notes-detail {
        word-wrap: break-word;
        font-size: 20px;
        padding-bottom: 50px;
    }

    &__sub {
        font-size: 25px;
    }

    &__sub-first {
        display:flex;
        justify-content: flex-start;

        > div {
            width: 1000%;
        }
    }
}

.Quiz {
    position: relative;
    top: 40px;
    margin-top: 30px;
    padding: 45px 0;
    background-color: $primary-color;
    color: $tertiary-font-color;
    overflow-x: hidden;

    > div:not(:last-child) {
        margin: 0 7vw;
    }

    &__title {
        font-size: 30px;
    }

    &__button {
        button {
            position: relative;
            z-index: 2;
            background-color: $primary-color;
            border: 1px solid $tertiary-font-color;
            margin-top: 10px;
            padding: 7px 25px;
            color: $tertiary-font-color;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__backgroundText {
        position: relative;
        top: -50px;
        right: -10px;
        color: #E88080;
        font-family: 'Times New Roman';
        font-size: 30px;
        text-align: right;
        
        p:nth-child(1) {
            font-size: 80px;
            overflow: hidden;
        }
    }
}

.Login {
    color: $primary-font-color;
    display: block;
    margin: 100px auto;
    top: 50%;
    width: 25%;
    height: 70vh;

    &__wrapper {
        padding: 30px 50px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        > p {
            a {
                text-decoration: none;
                color: $primary-color;
                font-size: 0.9em;
            }
        }

        > a {
            color: $primary-color;
            text-decoration: none;
            font-size: 0.9em;
        }
    }

    &__header {
        font-size: 25px;
        text-align: left;
    }

    &__field {
        margin-top: 10px;

        &--input {
            margin-top: 5px;
            
            input {
                padding: 5px 10px;
                height: 30px;
                border: 1px solid $secondary-font-color;
                border-radius: 5px;

                &:focus {
                    border: 1px solid $primary-color;
                    border-radius: 5px;
                }
            }
        }

        &--label {
            &-remember {
                margin-left: 5px;
            }
        }

        &--remember {
            display: flex;
            margin-top: 10px;
        }

        &--checkbox {
            input {
                margin: 0;
            }
        }
    }

    &__button {
        margin-top: 15px;
        input {
            background-color: $primary-color;
            color: $tertiary-font-color;
            border: none;
            padding: 10px 0;
            border-radius: 5px;
            font-size: 15px;
            width: 100%;
        }
    }

    &__signupHeader {
        margin-top: 20px;
    }
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: $navigation-color;
    color: $tertiary-font-color;
    border-radius: 20px 20px 0 0;

    div {
        position: absolute;
        bottom: 10px;
        padding: 0px 7vw;
    }
}