@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


$background-color: #F9F9F9;
$navigation-color: #363636;
$primary-font: 'Roboto', sans-serif;
$secondary-font: Sitka Text;
$primary-font-color: #4E4E4E;
$secondary-font-color: #808080;
$tertiary-font-color: #FFFFFF;
$quaternary-font-color: #f0f0f0;
$primary-color: #D9594C;

body {
    font-family: $primary-font;
    background-color: $background-color;
    margin: 0;
    color: $primary-font-color;
}

p {
    margin: 0;
}

#text-highlight {
    color: $primary-color;
}

.Homepage {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

.About {
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 0 15vw;
    justify-content: space-between;

    &__info {
        color: $primary-font-color;
        &-header {
            font-weight: bold;
        }

        &-desc {
            font-weight: 300;
            margin-top: 20px;
        }

        &-button {
            margin-top: 50px;

            button {
                font-size: 1em;
                padding: 15px 35px;
                background-color: $primary-color;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: $tertiary-font-color;
            }
        }
    }

    
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 280px) {
    .About {
        flex-wrap: wrap;
        justify-content: center;

        &__info {
            width: 100%;
            text-align: center;

            &-header {
                font-size: 3em;
            }
    
            &-desc {
                font-size: 1.5em;
                margin-top: 20px;
            }
    
            &-button {
                margin-top: 50px;
                button {
                    font-size: 1em;
                    padding: 15px 35px;
                }
            }
        }

        &__svg {
            &:not(:nth-child(1)) {
                margin-top: 50px;
            }

            svg {
                width: 400px;
                height: auto;
            }
        }
    }    
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px)  {
    .About {
        &__info {
            width: 100%;
        }

        &__svg {
            svg {
                width: 550px;
                height: auto;
            }
        }
    }
}

/* Desktop (landscape) ----------- */
@media only screen 
and (min-width : 1224px) {
    .About {
        flex-wrap: nowrap;

        &__info {
            text-align: left;
            margin-right: 50px;

            &-header {
                font-size: 3.5em;
            }
    
            &-desc {
                font-size: 2em;
                font-weight: 300;
                margin-top: 20px;
            }
    
            &-button {
                margin-top: 50px;
                button {
                    font-size: 1em;
                }
            }
        }

        &__svg {
            &:not(:nth-child(1)) {
                margin-top: 0px;
            }

            svg {
                width: 650px;
                height: auto;
            }
        }
    }
    
}

.Banner {
    font-size: 40px;
    color: $secondary-font-color;
    align-content: center;
    text-align: center;
}

.Navigation {
    display: flex;
    justify-content: space-between;

    &__left {
        background-color: $navigation-color;
        color: $tertiary-font-color;
        font-family: 'Times New Roman', Times, serif;
        font-weight: regular;
        font-size: 23px;
        padding: 20px 80px 20px 7vw;
        border-radius: 0 0 30px 0;
    }

    &__right {
        padding-right: 7vw;
        ul {
            margin: 0;
            li {
                display: inline-block;
                padding: 25px 10px 0;

                a {
                    text-decoration: none;
                    color: $primary-font-color;
                }

                &:not(:last-child) {
                    margin-right: 20px;
                }

                input {
                    background: none;
                    border: none;
                    font-family: $primary-font;
                    font-size: 15px;
                    color: $primary-font-color;
                    cursor: pointer;
                }
            }

            .current {
                border-top: 3px solid $primary-color;
            }
        }
    }
}

.Featured {
    padding: 0 7vw;
    min-width: 1100px;
    margin-top: 40px;

    &__banner {
        & img {
            position: relative;
            width: 100%;
            border-radius: 20px;
        }
    }

    &__information {
        position: absolute;
        top: 0px;
        margin-top: 50px;
        margin-left: 60px;
        color: $primary-font-color;

        &--header {
            font-size: 32px;
            font-weight: bold;
            width: 300px;

            & h3 {
                margin: 30px 0;
            }
        }

        &--description {
            width: 300px;
        }
        
        &--button {
            margin-top: 25px;
            button {
                cursor: pointer;
                border: none;
                padding: 10px 20px;
                background-color: $primary-color;
                border-radius: 5px;
                color: $tertiary-font-color;
                font-weight: bold;
            }
        }
    }   
}

.Points {
    display: inline-block;
    float: right;
    vertical-align: bottom;
    color: #D9594C;
    font-size: 17px;
    max-height: 20px;

    p {
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
    }

    img {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;        
    }
}

.Section {
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 0 10vw;

    &__header {
        display: inline-block;
        h3, p {
            margin: 0px;
        }

        p {
            color: $primary-color;
            font-size: 17px;
        }

        h3 {
            color: $primary-font-color;
            font-size: 25px;
            font-weight: 400;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__right {
        text-align: right;
    }

    &__welcome {
        color: $primary-font-color;
        font-size: 18px;
        display: flex;
        align-items: center;

        > a {
            margin-right: 10px;
            padding: 4px 9px;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
            border: none;
            color: #FFFFFF;
            background-color: rgb(70, 189, 66);
            border-radius: 100%;
            
        }
    }
}

.Brewentry {
    display: block;
    padding: 0 7vw;
    height: 100vh;
    color: $primary-font-color;

    &__header {
        font-size: 1.2em;
    }

    &__wrapper {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 25px 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    textarea {
    }

    .actions {
        margin-top: 20px;
        input {
            background-color: $primary-color;
            color: $tertiary-font-color;
            border: none;
            padding: 10px 0;
            border-radius: 5px;
            font-size: 15px;
            width: 100%;
        }
    }
}

.Form {
    &__field {
        &--label {
            margin-top: 35px;
        }

        &--input {
            width: 100%;

            input {
                width: 100%;
                padding: 10px 0;
                border: none;
                color: $tertiary-font-color;
                background-color: $navigation-color;
                border-bottom: 1px solid $secondary-font-color;

                &:focus {
                    border-bottom: 1px solid $primary-color;
                }

                &:outline {
                    border-bottom: 1px solid $primary-color;
                }
            }
        }

        &--remember {
            margin: 15px 0 0;
            display: flex;
            align-items: center;
        }

        &--checkbox {
            margin-right: 5px;
        }

        &--wrapper {
            margin-top: -15px;
            display: flex;
            justify-content: space-between;
        }

        &-wrap {
            width: 40%;
        }
    }

    &__button {
        margin-top: 15px;

        input {
            background-color: $primary-color;
            color: $tertiary-font-color;
            border: none;
            padding: 10px 0;
            border-radius: 5px;
            font-size: 15px;
            width: 100%;
        }
    }

    &__signupHeader {
        margin-top: 5px;
        margin-left: 30px;
    }

    &__forgot {
        margin-left: 30px;
        display: flex;

        a {
            text-decoration: none;
            color: $primary-color;
            margin-right: 10px;
        }
    }
}

.SectionTable {
    min-height: 100vh;
}

.Table {
    margin-top: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    text-align: left;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    th, td {
        padding: 20px 25px;
    }

    th {
        border-bottom: 1px solid #DDD;
    }


    &__header {
        color: $secondary-font-color;
        text-align: left;
        font-size: 0.8em;
    }

    &__data {
        color: $primary-font-color;
    }

    &__border {
        border-bottom: 1px solid $secondary-font-color;
    }

    &__description {
        min-width: 250px;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.Favorite {
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
}

.Coffee {
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-top: 30px;
        background-color: #FFFFFF;
        width: 30%;
        border-radius: 10px;
        text-decoration: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        &--image {
            border-radius: 10px 10px 0 0;

            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 10px 10px 0 0;
            }
        }

        &--info {
            display: flex;
            justify-content: space-between;
        }

        &--title {
            color: $primary-font-color;
        }

        &--brand {
            color: $secondary-font-color;
            font-size: 10px;
            margin-top: 5px;
            display: inline-block;
        }

        > div:nth-child(2) {
            margin-top: 20px;
            margin-left: 25px;
            margin-bottom: 20px;
        }
    }
}

.Price {
    float: right;
    margin-right: 25px;
    vertical-align: top;
    display: inline-block;
    color: $primary-font-color;

    p {
        display: inline-block;
        font-size: 18px;
    }

    >img {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
    }
}


.Specific {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 90vh;
    margin: auto 0;
    padding: 0px 7vw;


    &__image {
        display: inline-block;
        border-radius: 20px 0px 20px 0px;
        box-shadow: rgba(0, 0, 0, 0.1) 7px 7px 15px;
        width: 50%;
        min-height: 100%;
        position: relative;
        overflow: visible;

        img {
            border-radius: 20px 0px 20px 0px;
            width: 100%;
            min-height: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__wrapper {
        display: flex;
        width: 100%;
    }

    &__information {
        max-width: 695px;
        min-width: 695px;
        vertical-align: top;
        display: inline-block;
        position: relative;
        overflow: visible;
        padding-left: 30px;
    }

    &__title {
        vertical-align: top;
        font-size: 20px;
        color: $primary-color;
    }

    &__header {
        &--brand {
            color: $primary-color;
            font-size: 1.3em;
        }

        &--title {
            color: $primary-font-color;
            font-size: 2.3em;
        }
    }

    &__infoFlex {
        display: flex;
    }

    &__infoItem {
        margin-top: 35px;
        width: 50%;

        &--title {
            color: $primary-font-color;
            font-size: 25px;
        }

        &--desc {
            color: $secondary-font-color;
            font-size: 20px;
            margin-top: 7px;
        }

        &--row {
            margin-top: 35px;
            width: 100%;
        }
    }




    &__notes {
        font-size: 25px;
        margin: auto;
        padding-bottom: 15px;
       
    }

    &__notes-detail {
        word-wrap: break-word;
        font-size: 20px;
        padding-bottom: 50px;
    }

    &__sub {
        font-size: 25px;
    }

    &__sub-first {
        display:flex;
        justify-content: flex-start;

        > div {
            width: 1000%;
        }
    }
}

.Quiz {
    position: relative;
    top: 40px;
    margin-top: 30px;
    padding: 45px 0;
    background-color: $primary-color;
    color: $tertiary-font-color;
    overflow-x: hidden;

    > div:not(:last-child) {
        margin: 0 7vw;
    }

    &__title {
        font-size: 30px;
    }

    &__button {
        button {
            position: relative;
            z-index: 2;
            background-color: $primary-color;
            border: 1px solid $tertiary-font-color;
            margin-top: 10px;
            padding: 7px 25px;
            color: $tertiary-font-color;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__backgroundText {
        position: relative;
        top: -50px;
        right: -10px;
        color: #E88080;
        font-family: 'Times New Roman';
        font-size: 30px;
        text-align: right;
        
        p:nth-child(1) {
            font-size: 80px;
            overflow: hidden;
        }
    }
}

.Login {
    color: $primary-font-color;
    display: block;
    height: 70vh;
    width: calc(100% - 30vw);
    margin: 100px auto 0;
    min-height: 80vh;

    &__wrapper {
        display: flex;
        height: 320px;


        &--signup, &--brew {
            display: flex;
            height: 420px;
        }

        &--forgot {
            display: flex;
            height: 220px;
        }
    }

    &__left {
        background: #FFFFFF;
        height: calc(100% - 100px);
        top: 20px;
        position: relative;
        width: 50%;
        padding: 30px;
        border-radius: 10px 0 0 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    }


    &__header {
        margin-top: 40px;

        p {
            font-size: 40px;
            font-weight: 800;
        }
        
        &--forgot {
            p {
                font-size: 35px;
                font-weight: 800;
            }
        }

        &--brew {
            margin-top: 50px;
            p {
                font-size: 30px;
                font-weight: 800;
            }
        }
    }

    &__desc {
        margin-top: 30px;

        p {
            font-size: 20px;
        }
    }

    &__right {
        background: $navigation-color;
        box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
        color: $tertiary-font-color;
        position: relative;
        width: 50%;
        border-radius: 10px;
        padding: 20px;
    }

    > p {
        margin-left: 30px;
        display: flex;

        > a {
            display: inline-block;
            text-decoration: none;
            color: $primary-color;
            font-size: 0.9em;
            cursor: pointer;
        }

        a:first-child {
            margin-right: 20px;
        }
    }

    > a {
        margin-left: 30px;
        text-decoration: none;
        color: $primary-color;
        font-size: 0.9em;
        cursor: pointer;
    }

}

form {
    margin: 30px auto;
}

.button_to {
    margin: 0;

    input {
        padding: 15px 30px;
        color: $tertiary-font-color;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
    }
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: $navigation-color;
    color: $tertiary-font-color;
    border-radius: 20px 20px 0 0;

    div {
        position: absolute;
        bottom: 10px;
        padding: 0px 7vw;
    }
}

/* === BackgroundFiller === */
.BackgroundFiller {
    color: $quaternary-font-color;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    white-space: nowrap;
    left: 60%;
    z-index: -1;

    &-left {
        left: -50px;
    }

    &__header {
        font-size: 7em;
    }

    &__desc {
        font-size: 2.4em;
    }
}

/* === Join === */
.Join {
    margin: 200px 0;
    padding: 0 15vw;
    text-align: center;

    &__header {
        font-size: 3em;
        font-weight: bold;
    }

    &__button {
        margin-top: 25px;

        button {
            font-size: 1em;
            cursor: pointer;
            padding: 20px 40px;
            color: $tertiary-font-color;
            background-color: $primary-color;
            border: none;
            border-radius: 5px;
        }
    }
}